.footer {
    width: 100%;
    height: auto;
    @include flex();
    // margin: 15rem 0  0;
    background-color:  var(--black_-1);

    .footer_container {
        width: 100%;
        padding: 1rem 5vw;

        .footer_list {
            display: flex;

            .item {
                cursor: pointer;
                &:not(:first-child) {
                    margin-left: 4rem;
                }

                h1 {
                    opacity: 80%;

                    &:hover {
                        opacity: 100%;
                    }
                }
            }
        }
    }
}
